.hero-area{
    background-image: url('../../Asserst/image/Planning.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: lato;
    padding: 150px 0;
}

.hero-area::after{
    content: '';
    position: absolute;
    background-color:rgba(5, 1, 51, 0.7) ;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero h4 {
    color: #FF630E;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}

.hero h2 {
    font-size: 70px;
    line-height: 77px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.hero p{
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.hero-area button{
    background-color: #FF630E;
    color: #fff;
    padding: 15px 30px;
    border-radius: 0px 50px 0px 50px;;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 45px;
}

.hero-area button:hover{
    background-color: #fff;
    color: #FF630E;
}

/* career start */

h1.career-title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    font-family: lato;
    margin-bottom: 40px;
}

.career-area{
    padding: 150px 0;
}

i {
    font-size: 70px;
    color: darkblue;
}

.career h3 {
    font-size: 22px;
    line-height: 1.27;
    font-weight: 500;
    color: #343b6d;
    font-family: lato;
}

.career {
    border-radius: 8px;
    background-color: #efefef;
    transition: all 0.4s;
    text-align: center;
    padding: 30px 40px;
}


/* instructors */

.instructors-area{
    padding-top: 0px;
    padding-bottom: 150px;
}

.instructors {
    padding: 10px;
    background: #d7d7d7;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-family: lato;
}


.instructors img {
    width: 100%;
    height: auto;
}

.pofile-icon{
    font-size: 32px;
}

.instructors h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 18px;
}