/* right side */
.blog-section{
    margin: 40px 0; 
}

.single-blog{
    margin-bottom: 100px;
}

.single-blog img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-area p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #696969;
}

.blog-area h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    font-family: lato;
    margin: 16px 0;
}

/* right side end */

/* left side start */

.search {
    padding: 16px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 23px;
}

.search input {
    padding: 5px 10px;
    width: 79%;
}

.search button {
    margin-left: 10px;
    padding: 8px 21px;
    font-size: 16px;
    font-weight: 600;
    background: #ffa63d;
    border: none;
    border-radius: 5px;
}

.more-post img {
    width: 130px;
    height: 97px;
}

.title-post {
    margin-left: 13px;
}

.title-post h2 {
    font-size: 20px;
    font-family: lato;
}

.title-post p {
    margin: 0;
}

.more-post.d-flex {
    margin-bottom: 30px;
}

.recent-post {
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}



/* left side end */