/* single right side */
.single-course {
    margin: 100px 0; 
}
.course-title h2 {
    font-weight: 600;
    font-size: 2.25rem;
    padding: 0px 0 15px 0;
}

.course-description {
    font-family: lato;
}

.course-description h3 {
    margin: 16px 0;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.course-instructor {
    background-color: aliceblue;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 2.5rem;
}

.image-instructor img {
    width: 65px;
    height: 65px;
    margin-right: 15px;
    border-radius: 50%;
}

.instructor-dis h4 {
    font-size: 1.125rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.instructor-dis p {
    font-size: .875rem;
}

.learn-itcourse {
    background-color: aliceblue;
    border: 1px solid;
    padding: 13px;
    border-radius: 5px;
    margin: 23px 0;
}

.learn-itcourse ul {
    margin: 0;
}

p.about {
    background-color: aliceblue;
    font-size: 17px;
    border: 1px solid #000;
    padding: 6px 18px;
    border-radius: 5px;
}

.course-fee img {
    width: 100%;
    height: auto;
}

/* /* single right side */ */

/* single left side */



.course-fee-datales h4 {
    font-size: 22px;
    margin: 16px 0;
}

.course-fee {
    border: 1px solid #000;
    border-radius: 5px;
}

.course-fee-datales {
    padding: 16px;
    background-color: aliceblue;
}

.course-fee-datales button {
    width: 100%;
    border-radius: 14px;
    padding: 11px 0;
    font-size: 18px;
    font-weight: 600;
    background: #ff9400;
    border: none;
    margin: 14px 0;
}

.overviwe {
    border: 1px solid #000;
    padding: 14px;
    border-radius: 5px;
}

.overviwe p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.pdf.text-center button {
    border: none;
    font-size: 18px;
    margin-top: 21px;
    font-weight: 600;
    background: #ff8d07;
    padding: 11px 21px;
    border-radius: 27px 0 27px 0;
}
